/* Styling for the section, making it a flex container */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    padding-right: 3em;
}

/* Styling for the columns */
.left-column {
    flex: 1 1 60%;
}

.right-column {
    flex: 1 1 40%;
}

/* Styling for the title and subtitle */
h1 {
    font-size: 4em;
    color: #252222;
}

h2 {
    font-size: 2em;
}

/* Styling for the button */
.custom-button {
    background-color: rgb(7, 121, 7);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

.custom-button-2 {
    background-color: rgb(165, 39, 39);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
}

/* Responsive styling for mobile */
@media (max-width: 1000px) {

    .left-column,
    .right-column {
        flex: 1 0 100%;
        /* This will make each column take up 100% of the space on mobile */
    }

    /* This will place the right column (pizza image) below the left column on mobile */
    .right-column {
        order: 2;
    }
}

.pres {

    margin: 5em 10em 5em 10em;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.chef-section {
    padding: 2em;

    color: #333;
}

.chef-title {
    font-size: 1.9em;
    margin-bottom: 0.5em;
    color: #252222;
    width: 100%;
}

.chef-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}

.chef-item {
    flex-basis: 45%;
    margin: 1em;
}

.chef-image img {
    width: 70%;
    height: auto;
    margin: auto;
}

.chef-text {
    text-align: justify;
    line-height: 1.4;
    font-size: 1.3em;
}

#resto {
    padding: 2em;
    color: #333;
}

#resto h1 {
    font-size: 1.9em;
    margin-bottom: 0;
    color: #252222;
    width: 100%;
}

#resto div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}

#resto div div {
    flex-basis: 45%;
    margin: 1em;
}

#resto .resto-text {
    text-align: justify;
    line-height: 1.4;
    font-size: 1.3em;
}

#resto .resto-image img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    margin: auto;
}