.ingredient-name {
    font-size: 18px;
}

.ingredient-label {
    font-size: 18px;
    font-weight: bold;
}

.ingredient-check {
    display: flex;
    gap: 5px;
}

.ingredient-check input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    margin-top: 2rem;
}

.price {
    font-size: 16px;
    font-style: italic;
    color: green;
}